@page "/teste"
@page "/teste/{id:int}"
@inject IAluno MeuAluno
@inherits TesteBase

<div style="overflow-y: auto">
<h1>Olá, Blazor, tudo bem? - @Id</h1>

@if (Exibir)
{
	<p>Você clicou no botão, né?</p>
}

<input type="text" @bind-value=@Texto />

<h3>@Texto</h3>

<h1>@MeuAluno.Mensagem()</h1>

<button @onclick="@Clicou" class="btn btn-primary">Não clique aqui!</button>
<button @onclick="@Atualizar" class="btn btn-info">Atualizar!</button>
<button @onclick="@Gravar" class="btn btn-success">Grava no LocalStorage</button>
<button @onclick="@Ler" class="btn btn-outline-warning">Lê do LocalStorage</button>
<button @onclick="@Remover" class="btn btn-danger">Apaga do LocalStorage</button>

<hr />

@for(int i = 1; i <= 10; i++)
{
	<p>Teste de loop - @i</p>
}

</div>